body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 10px auto;
}

.candidate-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.candidate-details {
    text-align: left;
}

.vote-button, #addParticipantBtn, #removeParticipantBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.vote-button:hover, #addParticipantBtn:hover, #removeParticipantBtn:hover {
    background-color: #45a049;
}

/* Additional styling for participant management */
input[type="text"] {
    padding: 5px;
    margin: 5px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}
