/* public/styles/manage.css */

/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    background-image: url('https://www.sunsiyam.com/assets/img/logo-circle.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container Styles */
.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #00bcd4;
}

/* Poll Controls */
.poll-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#poll-selector {
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    color: #000;
}

.toggle-button {
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle-button.vote-start {
    background-color: green;
}

.toggle-button.vote-stop {
    background-color: red;
}

/* Form Styles */
form {
    margin-bottom: 20px;
    text-align: left;
}

input[type="text"], textarea, input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    backdrop-filter: blur(5px);
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #00bcd4;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #008c9e;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}
